<h1>Session for <%= @session.routine.name %></h1>
<p>Started at: <%= @session.start_time %></p>

<%= form_with(model: @session, url: session_path(@session), method: :patch) do |form| %>
  <% @session.session_exercises.each do |session_exercise| %>
    <h3><%= session_exercise.routine_exercise.exercise.name %></h3>
    <% session_exercise.set_details.each_with_index do |set_detail, index| %>
      <div>
        <label>Set <%= index + 1 %>:</label>
        <%= number_field_tag "session_exercises[#{session_exercise.id}][set_details][#{index}][reps]", set_detail['reps'] %>
        <%= number_field_tag "session_exercises[#{session_exercise.id}][set_details][#{index}][weight]", set_detail['weight'] %>
        <%= text_field_tag "session_exercises[#{session_exercise.id}][set_details][#{index}][note]", set_detail['note'] %>
      </div>
    <% end %>
  <% end %>
  <%= form.submit "Update Session" %>
<% end %>
<!-- Add a button or link to end the session -->
<%= link_to 'End Session', end_session_session_path(@session), data: { turbo_method: :patch }, class: "btn btn-primary" %>
