<h1>Session for <%= @session.routine.name %></h1>
<p>Started at: <%= @session.start_time %></p>
<p>End time: <%= @session.end_time %></p>

<%= form_with(model: @session, url: session_path(@session), method: :patch) do |form| %>
  <% @session.session_exercises.each do |session_exercise| %>
    <h3><%= session_exercise.routine_exercise.exercise.name %></h3>
    <% session_exercise.set_details.each_with_index do |set_detail, index| %>
      <% if @session.ended? %>
        <!-- Use the current set detail values -->
        <%= number_field_tag "reps", set_detail['reps'] %>
        <%= number_field_tag "weight", set_detail['weight'] %>
        <%= text_field_tag "note", set_detail['note'] %>
      <% else %>
        <!-- Use the last recorded value or 0 -->
        <%= number_field_tag "reps", last_value_for_exercise(session_exercise.routine_exercise.exercise, :reps) %>
        <%= number_field_tag "weight", last_value_for_exercise(session_exercise.routine_exercise.exercise, :weight) %>
        <%= text_field_tag "note", last_value_for_exercise(session_exercise.routine_exercise.exercise, :note) %>
      <% end %>
    <% end %>
  <% end %>
  <%= form.submit "Update Session" %>
<% end %>
<!-- Add a button or link to end the session -->
<%= link_to 'End Session', end_session_session_path(@session), data: { turbo_method: :patch }, class: "btn btn-primary" %>
