<%= form.fields_for :session_exercises do |session_exercise_form| %>
<div class="rounded-md border-gray-300 shadow-sm bg-gray-100 p-5 my-5">
  <table class="min-w-full divide-y divide-gray-300 mb-10">
    <thead>
      <h2 class="text-xl mb-2"><%= session_exercise_form.object.exercise.name %></h2>
      <tr>
        <th scope="col" class="py-3.5 pl-4 pr-3 text-left text-sm font-semibold text-gray-900 sm:pl-6">Weight</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Reps</th>
        <th scope="col" class="px-3 py-3.5 text-left text-sm font-semibold text-gray-900">Note</th>
      </tr>
    </thead>
    <tbody>
      <% session_exercise_form.object.set_details.each_with_index do |set_detail, index| %>
        <tr>
          <td class="relative py-4 pl-4 pr-3 text-sm sm:pl-6">
            <div class="font-medium text-gray-900">
              <%= session_exercise_form.number_field :reps, value: set_detail['reps'], name: "workout_session[session_exercises_attributes][#{session_exercise_form.index}][set_details][][reps]", class: "w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
            </div>
          </td>
          <td class="relative py-4 pl-4 pr-3 text-sm ">
            <div class="font-medium text-gray-900">
              <%= session_exercise_form.number_field :weight, value: set_detail['weight'], name: "workout_session[session_exercises_attributes][#{session_exercise_form.index}][set_details][][weight]", class: "w-full  rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
            </div>
          </td>
          <td class="relative py-4 pl-4 pr-3 text-sm">
            <div class="font-medium text-gray-900">
              <%= session_exercise_form.text_field :note, value: set_detail['note'], name: "workout_session[session_exercises_attributes][#{session_exercise_form.index}][set_details][][note]", class: "w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" %>
            </div>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
<% end %>