<h1>WorkoutSession for <%= @workout_session.routine.name %></h1>
<p>Started at: <%= @workout_session.start_time %></p>
<p>End time: <%= @workout_session.end_time %></p>

<%= form_with(model: @workout_session, local: true) do |form| %>
  <% if @workout_session.ended? %>
    <!-- Render the partial for editing set details after the session has ended -->
    <%= render 'ended_session_fields', form: form %>
  <% else %>
    <!-- Render the partial for editing set details during an active session -->
    <%= render 'active_session_fields', form: form %>
  <% end %>
  <%= form.submit "Update WorkoutSession" %>
<% end %>


<!-- Add a button or link to end the workout_session -->
<% if !@workout_session.ended?%>
  <%= link_to 'End WorkoutSession', end_session_workout_session_path(@workout_session), data: { turbo_method: :patch }, class: "btn btn-primary" %>
<% end %>
