<h1 class="text-4xl mb-4">Groups</h1>

<div class="flex flex-col mb-6 md:mb-2 justify-between md:flex-row">
  <h2 class="text-2xl font-semibold mb-2">Your groups</h2>
  <div>
    <%= link_to 'Create new Group', new_group_path, class: "rounded-md bg-white px-3 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
    <%= link_to 'Sign out', destroy_user_session_path, data: { turbo_method: :delete }, class: "rounded-md bg-white px-3.5 py-2 text-sm font-semibold text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50" %>
  </div>
</div>

<% if @owned_groups.empty? %>
    <p class="text-gray-600">You do not own any groups.</p>
<% else %>
  <ul role="list" class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
    <% @owned_groups.each do |group| %>
      <%= link_to(group) do %>
        <li class="relative flex justify-between items-center gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
          <div class="flex min-w-0 gap-x-4">
            <div class="min-w-0 flex-auto">
              <p class="text-sm font-semibold text-gray-900">
                <%= group.name %> <br/>
              </p>
              <p class="text-sm font-light text-gray-400 ">
                <%= group.description %>
              </p>
            </div>
          </div>
          <svg class="h-5 w-5 text-gray-400 flex" width="20" height="20" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true" >
            <path fill-rule="evenodd" d="M7.21 14.77a.75.75 0 01.02-1.06L11.168 10 7.23 6.29a.75.75 0 111.04-1.08l4.5 4.25a.75.75 0 010 1.08l-4.5 4.25a.75.75 0 01-1.06-.02z" clip-rule="evenodd" />
          </svg>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>

<h2 class="text-2xl font-semibold mb-2 mt-6">Joined groups</h2>
<% if @member_groups.empty? %>
  <p class="text-gray-600">You are not a member of any groups.</p>
<% else %>
  <ul role="list" class="divide-y divide-gray-100 overflow-hidden bg-white shadow-sm ring-1 ring-gray-900/5 sm:rounded-xl">
    <% @member_groups.each do |group| %>
      <li class="relative flex justify-between gap-x-6 px-4 py-5 hover:bg-gray-50 sm:px-6">
        <div class="flex min-w-0 gap-x-4">
          <div class="min-w-0 flex-auto">
            <p class="text-sm font-semibold leading-6 text-gray-900">
              <%= link_to group.name, group_path(group), class: "relative truncate hover:underline" %>
            </p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>
