<h1 class="text-4xl mb-1"><%= @group.name %></h1>
<h2 class="text-xl mb-2 text-gray-600 "><%= @group.description %></h2>

<h2>Routines in this Group</h2>
<% if @routines.any? %>
  <ul>
    <% @routines.each do |routine| %>
      <li><%= link_to routine.name, group_routine_path(@group, routine) %> - <%= routine.description %></li>
    <% end %>
  </ul>
<% else %>
  <p>No routines found in this group.</p>
<% end %>
<%= link_to "Add Routine", new_group_routine_path(@group) %>

<h2>Sessions logged</h2>
<% if @workout_sessions.any? %>
  <ul>
    <% @workout_sessions.each do |workout_session| %>
      <li><%= workout_session.user.email %> - <%= link_to workout_session.routine.name, workout_session_path(workout_session) %> - <%= workout_session.start_time %></li>
    <% end %>
  </ul>
<% else %>
  <p>No workout_sessions found in this group.</p>
<% end %>

<h2>Invite User to Group</h2>
<%= form_with url: group_invite_to_group_path(@group), method: :post do |f| %>
  <%= f.label :email, "User Email" %>
  <%= f.email_field :email, required: true %>
  <%= f.hidden_field :group_id, value: @group.id %>
  <%= f.submit "Send Invitation", class: 'btn btn-success' %>
<% end %>

<%= link_to 'Back to Groups', groups_path %>
